#tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0; /* Initially hide the tooltip */
    transition: opacity 0.3s; /* Add a smooth transition effect */
}


.legend-item {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buy-sell-points {
    white-space: pre-line;
}
